<%= content_for :title, "Nodes - Admin" %>
<%= content_for :header_title, "Nodes" %>

<% content_for :header_right do %>
  <div class="center-button">
    <%= link_to t('ascent.admin.nodes.create'), ascent_admin.new_node_path, class: 'btn' %>
  </div>
<% end %>
<div class="admin-well">
  <p>Nodes<p>
  <ul class="tree">
    <%= render @nodes.root %>
  </ul>
</div>
