<%= content_for :title, "New - Nodes - Admin" %>
<%= content_for :header_title, t('ascent.admin.node.new') %>

<div class="admin-well">
  <%= ascent_form_for @object, url: ascent_admin.nodes_path, html: { method: "post", multipart: true } do |form| %>
    <%= form.generate %>
  <% end %>
</div>
