.btn {
  @include button(simple, $ascent-color);
  color: $light;

  &.btn-edit {
    @include button(simple, $danger-color);
  }

  &.btn-success {
    @include button(simple, $success-color);
    font-weight: normal;
    color: $light;
  }
}
