.admin-container{
  flex: 1;

  .content {
    padding: $admin-normal-padding;
  }

  .admin-well {
    background-color: $light;
    padding: $admin-normal-padding;
  }

  @include media($mobile){
    flex: none;
    display: block;
    .page-header h2{
      padding: 20px;
    }
  }
}

