nav.ascent-admin-nav{
  flex: 0 $menu-width;
  min-height: 100%;
  background-color: $menu-background;
  width: $menu-width;
  color: $menu-text;


  .nav-header{
    padding: 20px;
    vertical-align: middle;

    a {
      display: block;
    }

    p{
      display:inline-block;
      vertical-align: middle;
    }

    img{
      vertical-align: middle;
      display:inline-block;
      width: 32px;
      margin: 0 10px;
    }
  }

  ul.nav-menu{
    list-style:none;
    padding: 0;
    margin: 0;
    li{
      @include transition(all 200ms, ease-in-out);
      background-color: $nav-item-background;
      border-bottom: 1px solid $main-dark;

      &.active{
        border-left: 10px solid $ascent-color;
      }
      &:hover{
        border-left: 10px solid $ascent-color;
      }

      a{
        display:block;
        padding: $nav-item-padding;
      }
    }
  }

  @include media($mobile){
    @include display(block);
    width: 100%;
    min-height: auto;
    .nav-header{
      padding: 0px 20px;
    }
  }

}

