@charset "utf-8";
/*
 *= require sigbit-admin
 */
@import "ascent/variables";
@import "admin/**/*";

body,html{
  font-family: $main-font;
}

.sidebar-brand {
  background: #2b2d2f image-url("ascent/ascent_128x128.png") no-repeat 1.5rem center;
  background-size: contain;
}

