@charset "utf-8";

@import "bourbon";
@import "neat";
@import "ascent/variables";
@import "admin/**/*";

body,html{
  background-color: $bg-color;
  font-family: $main-font;
  height:100%;
  padding: 0;
  margin: 0;
}
a{
  text-decoration:none;
  color: $main-text;
}
.admin{
  @include display(flex);
  height: 100%;

  @include media($mobile){
    @include display(block);
  }
}



